/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "scaffolds";
@import "foundation_and_overrides";

a {
	&:hover {
		background-color: transparent;
	}
}

h3 {
	font-family: $adobe-text-pro;
	font-weight: 400;
}

main {
	max-width: 62.5rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

input[type="text"] {
	margin-bottom: 4rem;
}

.selectee {
	font-weight: 700;
}

.correct {
	color: $success-color;
}

.incorrect {
	color: $alert-color;
	text-decoration: line-through;
}

button a {
	text-transform: uppercase;
	font-weight: 700;
	color: $white;

	&:hover, &:visited {
		color: $white;
	}
}

a.button {
	text-transform: uppercase;
	font-weight: 700;

	&:hover, &:visited {
		color: $white;
	}	
}

#home-page {
	text-align: center;
	margin-top: 5em;

	.button {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-top: 5rem;
	}

	.countdown {
		font-size: 1.5rem;
		font-weight: 700;
	}
}

.alert-box {
	border: none;
}

.alert-box.success {
	background-color: #e1f8d1;
	color: scale-color(#e1f8d1, $lightness: -60%);
}

.alert-box.alert {
	background-color: #fbe3e4;
	color: #96151b;
}

.value {
	font-weight: 700;
}

.panel h5 {
	margin-bottom: 2em;
	color: #888;
}

.entry_name{
	input{
		font-size: 1.5rem;
		font-weight: 700;
		height: 4rem;
		padding-left: 2rem;	
		} 

	label {
		font-size: 1.2rem;
	}
}

.countdown {
	span {
		margin-right: .5rem;
	}
}

#countdown-edit-text {
	margin-left: 2rem;
}

.countdown-entry {
	margin: 3rem 0;
	text-align: center;
	font-weight: 700;
}

.entry-header {
	text-align: center;
	margin-bottom: 2em;

	h4 {
		margin-bottom: 1em;
	}
}

.not-selected {
	border: 3px solid $alert-color;
}

h3.warning {
	color: $alert-color;
}